.input-container {
  width: fit-content;
  margin: 8px auto;
  text-align: left;
  image-orientation: initial;
}

.input-style {
  background-color: #fefeff;
  padding: 8px 16px;
  margin-top: 4px;
  border-radius: 8px;
  width: 240px;
  border: 0px;
  outline: 0px;
}

.submit {
  background-color: #205542;
  color: white;
  font-weight: bold;
  padding: 12px;
  white-space: nowrap;
}

.right-icon {
  margin-top: 0%;
  float: right;
}

.enxuto {
  width: fit-content;
  margin-left: 8px;
}

.editBtn {
  background-color: #064bb4;
}

.submit:hover {
  background-color: #064616;
  color: white;
}

.editBtn:hover {
  background-color: #003079;
  color: white;
}

.label {
  color: black;
  font-weight: bold;
}

.btn-group button {
  background-color: white;
  border: 1px #205542;
  color: #205542;
  font-weight: bold;
  padding: 12px 36px;
  cursor: pointer;
  float: left;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:hover {
  background-color: #205542;
  color: white;
}

.btn-active {
  background-color: #07b580 !important;
  color: white !important;
}

.titulo-artigo {
  font-weight: bold;
  font-size: x-large;
  padding: 8px;
}

.autor-artigo {
  padding-left: 8px;
  margin-bottom: 16px;
  margin-right: 70%;
}

.component-container {
  background-color: #c5f1e4;
  margin: 8px 36px;
  border-radius: 16px;
  padding: 16px 24px;
  text-align: left;
}

.exit {
  background-color: #07b580;
  color: black;
  font-weight: bold;
  width: fit-content;
}

.exit:hover {
  background-color: #05815c;
  color: black;
}

.excluir {
  background-color: #8e2424;
  color: bisque;
}

.excluir:hover {
  background-color: #521010;
  color: bisque;
}

.icon {
  margin-right: 8px;
  vertical-align: middle;
}

.default-link-appearance {
  color: #205542;
  font-weight: bold;
}

.footer-container {
  padding: 16px;
  background-color: #07b580;
}

.footer-container a {
  color: #205542;
  margin: 8px;
}

#footer-margin {
  min-height: 80px;
}

.footer-container span {
  font-weight: bold;
  font-size: x-large;
  margin: 16px;
}

.header-container {
  display: flex;
  align-items: center;
  background-color: #07b580;
  padding: 4px;
  text-align: right;
}

.header-container span {
  color: #205542;
  margin: 8px;
}

.header-container button {
  margin-right: auto;
  margin-left: 8px;
  background-color: #05815c;
  outline: 0px;
  border: 0px;
  padding: 4px 30px;
  border-radius: 12px;
}

.home {
  text-align: center;
}

.home h1 {
  font-size: 5vh;
}

.home p {
  margin-left: 8px;
  margin-right: 8px;
}

.home-subtopic {
  text-align: left;
  margin-left: 16px;
}

#cadastrar-btn {
  font-size: small;
  width: fit-content;
}

.loading-container {
  text-align: center;
  display: flex;
  background-color: #205542;
  color: white;
  font-weight: bold;
}

.loading-container a {
  padding: 24px;
}

.notfound {
  text-align: center;
  padding: 8px;
  min-height: 80vh;
}

.notfound h1 {
  color: #205542;
  padding-top: 8px;
}

.ler-artigo {
  margin-left: 24px;
  min-height: 100vh;
}

.ler-artigo p {
  margin-right: 30vw;
}

.grid-conectar {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
}

.imagem-conectar {
  height: 100vh;
  align-items: flex-start;
  background-color: #205542;
  display: none;
}

.formulario-conectar {
  height: 100vh;
  padding-top: 76%;
  background-color: #07b580;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .home-buttons {
    margin-top: auto;
    display: inline-flex;
  }

  .imagem-conectar {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
  }

  .formulario-conectar {
    padding: 0%;
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .sobre {
    color: black;
    font-size: xxx-large;
    text-align: center;
  }

  p {
    margin-left: 3%;
    margin-right: 3%;
    font-size: larger;
  }

  ul {
    margin-left: 3%;
    font-size: larger;
  }

  a {
    font-weight: bold;
    font-size: large;
  }

  .subtitulo {
    font-weight: bold;
  }

  .flex-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }
}
